{% extends'temp.html' %}
{%block body%}
<H3 style="display: flex;
align-items: center;
justify-content: center;
flex-direction: column; 
font: 2em timesnewroman;
margin-top: 20%;">Seems like you already submitted a book off request, sumbitting again will override your previous
    one.</H3>
<H3 style="display: flex;
align-items: center;
justify-content: center;
flex-direction: column; 
font: 2em timesnewroman;
margin-top: 3%;">Do you wish to continue?</H3>
<form action="" method="post">
    <button style="margin-bottom: 3%;" type="submit" name="sub" value="sub">Submit</button>
    <button type="submit" name="back" value="back">Go back</button>
</form>
{%endblock%}