{% extends'temp.html' %}
{%block body%}
<div class="box">
  <img src="/static/dqimage.png">
  <H1>Booking-Off System</H1>
  <H2>Enter Your Name</H2>
  <form method="POST">

    <input autocomplete="off" type="text" name="name" id="name1">
    <H2>Select your Dates</H2>
    <input autocomplete="off" type="text" name="date" id="dates">
    <button type="submit">Submit</button>
  </form>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>flatpickr("#dates", {
    mode: "multiple",
    dateFormat: "Y-m-d",
    minDate: "today",
    yearSelectorType: "static"

  });</script>
{%endblock%}